:root {
    --theme-background: #FFFFFF;
    --text-color: #000000;
    --gpa-level-1: #75ace5;
    --gpa-level-2: #a6a8da;
    --gpa-level-3: #b4a7d6;
    --gpa-level-4: #c194b5;
    --gpa-level-5: #d7737d;
    --athlete-name-color: #00b4ff;
    --frame-color: #00b4FF;
}