:root {
    --theme-background: #FFFFFF;
    --text-color: #000000;
    --gpa-level-1: #75ace5;
    --gpa-level-2: #a6a8da;
    --gpa-level-3: #b4a7d6;
    --gpa-level-4: #c194b5;
    --gpa-level-5: #d7737d;
    --initials-bg-1: #f1603c;
    --initials-bg-2: #6082fa;
    --initials-bg-3: #827cb8;
    --initials-bg-4: #0097a4;
    --initials-bg-5: #ffe066;
    --initials-bg-6: #ffa94d;
    --athlete-name-color: #00b4ff;
    --frame-color: #00b4FF;
    --table-bg-interval: #e8f0fe;
}