@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./_variables.css";

.athlete-table-container {
    @apply overflow-x-auto;
    width: 98vw;
}
table.athlete-table {
    @apply table-auto my-4 w-full text-sm;
    thead {
        tr {
            th {
                @apply bg-black text-white;
                @apply p-2;
                white-space: nowrap;
                &.gpa-header {
                    @apply px-1;
                    width: 50px;
                }
                span {
                    @apply text-xs;
                    display: block;
                }
            }
            &:first-child {
                th {
                    padding-bottom: 0;
                    &:first-child {
                        position: sticky;
                        left: 0;
                        z-index: 2;
                    }    
                }
            }
        }
    }
    tbody {
        tr {
            &:nth-child(even) td {
                background-color: var(--table-bg-interval);
            }
            td {
                @apply bg-white;
                text-align: center;
                white-space: nowrap;
                &:first-child {
                    position: sticky;
                    left: 0;
                    z-index: 2;
                }
                &.gpa-level-1 {
                    background-color: var(--gpa-level-1);
                }
                &.gpa-level-2 {
                    background-color: var(--gpa-level-2);
                }
                &.gpa-level-3 {
                    background-color: var(--gpa-level-3);
                }
                &.gpa-level-4 {
                    background-color: var(--gpa-level-4);
                }
                &.gpa-level-5 {
                    background-color: var(--gpa-level-5);
                }
            }    
        }
        td:nth-of-type(1), td:nth-of-type(3) {
            text-align: left;
        }
        td:nth-of-type(5),
        td:nth-of-type(6),
        td:nth-of-type(7),
        td:nth-of-type(8),
        td:nth-of-type(9) {
            @apply h-full;
            width: 50px;
        }
    }
}